{% extends "shop/layout.html" %}
{% load static %}
{% block content  %}
    {{ block.super }}
    <form action="" method="GET"> <!--검색창-->
        <input type="text" name="q" value="{{ q }}">
        <input type="submit" value="search">
    </form>
    <ul>
        {% for item in item_list %}
            <li>
            <a href = "{{ item.get_absolute_url }}">
                {{ item.name }}
            </a>
                {{ item.price }}원
                {{ item.desc|linebreaks}}
            </li>
        {% endfor %}
    </ul>
    <hr />
    <a href="{% url "shop:item_new" %}">New Item</a>
{% endblock %}