{% load static fresh_static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Ask Company
        {% endblock %}
    </title>
    <style>
        body {
            background-color: lightpink;
        }
    </style>
    {% block extra_head %}
        <link rel="stylesheet" href="{% fresh_static "main.css" %}">
    {% endblock %}
</head>
<body>
<h1>ask Django</h1>
{% block content %}
{% endblock %}
<h2/>
<p>&copy; 2020. Ask Company.</p>
{% block extra_body %}
    <script src="{% static 'main.js' %}"></script>
{% endblock %}
</body>
</html>